# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
venv
cmake-build-debug
cmake-build-release
.idea
__pycache__
*.cbp
private
external/eigenlib
external/alembiclib
external/Imathlib
.DS_Store
*.abc
!examples/asset/bunny_1k.obj
